# ==========================================
# CONFIGURACIÓN DE WEATHER API
# ==========================================
# Reemplazá TU_API_KEY por la key que generes en weatherapi.com
weatherapi.url=https://api.weatherapi.com/v1/current.json?key=TU_API_KEY&q=London&aqi=no

# ==========================================
# CONFIGURACIÓN DE CORREO
# ==========================================
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=example@gmail.com
spring.mail.password=PASSWORD
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true